/* Set background image for the body and adjust its size */
body {
    background: url(../images/background-small.png);
    background-size: 100vw 100vh;
}

/* Styling for the game container */
#game {
    margin: 20px 5%;
    border-radius: 20px;
}

/* Styling for italic elements */
i{
    color: black;
    font-size: large;
}

#logo {
    display: flex;
}

/* Styling for paragraphs */
p {
    color: #000;
    font-weight: bold;
    text-align: center;
}

/* Styling for the button container */
.button-container {
    display: flex;
    justify-content: center;
    gap: 15%;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Styling for buttons */
.button {
    margin-top: 5px;
    font-size: large;
    font-weight: bold;
    color: royalblue;
    background-color: peachpuff;
    border: 1px solid royalblue;
    border-radius: 10px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    padding: 0;
}

/* Hover effect for buttons */
.button:hover {
    background-color: #C71585;
}

/* Styling for buttons inside the #difficulty container */
#difficulty button {
    width: 75px;
}

/* CSS class to hide elements */
.hidden {
    visibility: hidden;
}

/* Styling for images */
img {
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/* Styling for the content container */
#content {
    min-height: 12em;
    background-color: white;
    border-radius: 30px;
    color: royalblue;
    border: 1px solid royalblue;
    padding: 7px;
    margin: 0;
}

/* Styling for images inside the #content container */
#content > img {
    width: 60px;
}

/* Styling for tables */
table {
    color: red;
    text-align: left;
    border-spacing: 0;
    border-collapse: separate;
    width: auto;
    height: 50px;
}

/* Styling for images inside table cells */
td > img {
    margin-top: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#playButton {
    position: sticky;
    left: 10%;
    height: 30px;
    width: 30px;
}

/* Styling for the stats container */
#stats {
    display: flex;
    justify-content: space-around;
    color: royalblue;
    background-color: peachpuff;
    border: 1px solid royalblue;
    border-radius: 10px;
    line-height: 18px;
}

/* Styling for the intro container */
#intro {
    background-color: peachpuff;
    color: royalblue;
    border-radius: 10px;
    border: 1px solid royalblue;
    padding: 5% 5%;
    line-height: 1.25;
    font-weight: bolder;
}

/* Media query for screens with minimum width of 650px */
@media screen and (min-width: 650px) {
    body {
        background: url(../images/background.png);
        background-size: 100vw 100vh;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    img {
        margin-top: 0;
        width: 70%;
    }
    #content > img {
        width: 40px;
    }
    #logo > img {
        height: 30px;
    }
    #intro {
        padding: 2% 2%;
        line-height: 1.25;
    }

    #game {
        margin: 0;
    }
    .button {
        margin-top: 0;
        height: 45px;
    }
    h1 {
        margin: 3px;
    }
    #content {
        min-height: 7em;
    }
}

@media only screen and (max-width: 400px) {
    .button-container {
        gap: 8%;
    }
}